body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#settings,
.container {
  margin: auto;
}

button {
  padding: 10px;
  border-radius: 3px;
  background-color: blue;
  border: none;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.square {
  background-color: black;
  outline: white solid 1px;
}

.square.highlighted {
  background-color: aqua;
}
